@charset "UTF-8";
/* CSS Document */

* {
	box-sizing: border-box;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 100%;
	margin: 10px;
	padding: 0;
}

section {
	background: grey;
	padding: 20px;
	border: 5px black solid;
	margin: 20px;
	position: relative;
}

h1 {
	font-size: 50px;
	margin: 50px;
}

h2 {
	text-align: center;
}
.navbar-brand {
	
}

#nav-list a {
	text-align: center;
}
